@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
.Jobs{
    font-family: 'Nunito Sans', sans-serif;
    background: rgb(2, 22, 54);
    /* height: 100vh; */
    color: white;
}
#inputlg{
    margin-left: 100px;
    width: 250px;
    border-radius: 20px;
}
.btn:hover , #inputlg{
    outline:0px;
    box-shadow: none;
    border: none;

}
.btn{
    border: none;
}
.btnsearch{
    background-color:greenyellow;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;

}
.sea{
    font-size: larger;
    font-weight: bolder;
}
.d-inline > .btn{
    color: black;
    border:none;
    background: greenyellow;
    margin-bottom: 10px;
    margin-right: 50px;


}
@media screen and (max-width: 602px) {
    .rr{
        margin-top: 6px;
    }
}