@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
.Jobs{
    font-family: 'Nunito Sans', sans-serif;
    background: rgb(16, 15, 15);
    /* height: 100vh; */
    color: wheat;
}
#inputlg{
    margin-left: 100px;
    width: 250px;
    border-radius: 20px;
}
.btn:hover , #inputlg{
    outline:0px;
    box-shadow: none;
    border: none;

}
.btn{
    border: none;
}
.btnsearch{
    background-color:greenyellow;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;

}
.d-inline > .btn{
    color: black;
    border:none;
    background: greenyellow;
    margin-bottom: 10px;
    margin-right: 50px;


}
