@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
.Home{
    /* background: linear-gradient(rgba(0,0,0,5),rgba(0,0,0,5)); */
    background-image:url('../../../public/images/homebackground.jpg') ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* filter: blur(0.5px); */
    border: none;
    color: white;

}
.Text{
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    background-color: rgb(2, 22, 54); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font: 40px;
  }
.Text > h1{
    color: #0B5ED7;
    font-size: 70px;
}
@media screen and (max-width: 602px) {
    .Text{
        margin-top: 130px;
        margin-left: 0px;
    }
    .seek{
        font-size: 60px;
    }


}

