@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
.Contacts{
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(2, 22, 54);
    height: 93vh    ;
    color: white;
    

}
.Flex{
    display: flex;
}
.center{
display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.mine{
    background-color: rgb(2, 22, 54);
    width: 250px;
    height: 230px;
    margin-left: 200px;
    margin-top: 30px;
}
.Form{
    background-color:rgb(2, 22, 54)

}
.contactForm{
    width:110%;
}
.socials{
    margin-top: 30px;
    width: 250px;
    margin-left: 200px;
    padding-left: 10px;

}
.socials .fab{
    color:greenyellow;
    padding:15px;
    font-size: 28px;
}
.socials .fab:hover{
    transform: scale(1.5);
    color: greenyellow;
}
.btnk{
    background: greenyellow;
    border-radius: 5px;
    border: none;
}
@media screen and (max-width: 1080px) {
    .di{
        flex-wrap: wrap;
        flex-direction: column;
        
        
    }
    .socials , .mine{
        margin-left: 0px;
    }
    .Contacts{
        height: 200vh;
    }
  
}